<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title>Timestamp Microservice</title>
</head>

<body>
  <header>
    <h1>
      <span class="primary-color">Timestamp</span><wbr><span>Microservice</span>
    </h1>
  </header>

  <main>
    <!-- Valid date -->
    <section>
      <h2>Valid date</h2>
      <pre>
        <span class="key">GET</span> /api/timestamp/2020-12-30
      </pre>
      <pre>
        {
        &emsp; <span class="key">"unix"</span>: 1609286400000,
        &emsp; <span class="key">"utc"</span>: "Wed, Dec 30, 2020, 01:00:00 GMT+1"
        }
      </pre>
      <form action="api/timestamp/2020-12-30" method="GET">
        <button class="btn" type="submit">Try it</button>
      </form>
    </section>

    <!-- Unix timestamp -->
    <section>
      <h2>Unix timestamp</h2>
      <pre>
        <span class="key">GET</span> /api/timestamp/1451001600000
      </pre>
      <pre>
        {
        &emsp; <span class="key">"unix"</span>: 1451001600000,
        &emsp; <span class="key">"utc"</span>: "Fri, Dec 25, 2015, 01:00:00 GMT+1"
        }
      </pre>
      <form action="api/timestamp/1451001600000" method="GET">
        <button class="btn" type="submit">Try it</button>
      </form>
    </section>

    <!-- Current time (empty parameter) -->
    <section>
      <h2>
        <nobr>Current time</nobr>
        <nobr>(empty parameter)</nobr>
      </h2>
      <pre>
        <span class="key">GET</span> /api/timestamp
      </pre>
      <pre>
        {
        &emsp; <span class="key">"unix"</span>: 1611947123417,
        &emsp; <span class="key">"utc"</span>: "Fri, Jan 29, 2021, 20:05:23 GMT+1"
        }
      </pre>
      <form action="api/timestamp" method="GET">
        <button class="btn" type="submit">Try it</button>
      </form>
    </section>

    <!-- Invalid date -->
    <section>
      <h2>Invalid date</h2>
      <pre>
        <span class="key">GET</span> /api/hello-guys
      </pre>
      <pre>
        {
        &emsp; <span class="key">"error"</span>: "Invalid Date"
        }
      </pre>
      <form action="api/timestamp/hello-guys" method="GET">
        <button class="btn" type="submit">Try it</button>
      </form>
    </section>
  </main>

  <footer>
    <a class="link" href="https://github.com/sitek94">Maciek Sitkowski</a> 2021
  </footer>
</body>

</html>